# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
client/dist
client/tmp
client/out-tsc
client/bazel-out

# Node
/node_modules
client/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
.history/*

# Miscellaneous
/.angular/cache
client/.angular/cache
.sass-cache/
/connect.lock
/coverage
client/coverage
/libpeerconnection.log
testem.log
/typings

# .NET
server/bin/
server/obj/
server/*.user
server/.vs/
server/packages/

# Environment files
.env
.env.local
.env.production
.env.development

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# System files
.DS_Store
Thumbs.db
server/uploads/*
